 * {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     
   
    
}

.logo{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
 /* navbar */
.navbar{
      
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 10px;

     
    }
/* .navbar logo */
.navbar .logo{
    font-size: 30px;
}

/* .navbar .menu a */
.navbar .menu a { 
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    border: 4px bold rgba(100, 100, 100,0.05) ;
    border-radius: 8px;
   
}

.menu a:hover {
    padding: 1px;
    color:cyan;
}

/* header */
.header{
    background-color:rgba(20, 20, 20, 0.7);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 5px;
    justify-self: center;
    width: 130px;
    height: 25px;
    font-size: 22px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    border: 4px solid rgba(100, 100, 100,0.05);
    border-radius: 15px;
    transition: 0.3s ease;
    margin-bottom: 35px;
}

.header:hover{
    background-color: black;
    transform: translateY(-6px) scale(1.04);
     box-shadow:
        0 0 15px black,
        0 0 25px black,
        0 0 30px black,
        0 0 50px black;
}

/* .product */
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;
    

/* .p1 */
 .p1 {
    border-radius: 19px;
    width: 225px;
    padding: 15px;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.7);
    color: rgba(255, 255, 255, 0.85);
    transition: 0.4s ease;
    border: 2px solid rgba(100, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

}

.p1:hover{
      transform: translateY(-6px) scale(1.04);
    
        background-color: rgba(0, 0, 0, 1);
    border-color: rgb(93, 93, 93);
        box-shadow:
        0 0 10px rgba(0, 0, 0, 0.9),
        0 0 20px rgba(0, 0, 0, 0.9),
        0 0 25px rgba(0, 0, 0, 0.9),
        0 0 40px rgba(0, 0, 0, 0.9);
        

}

.details{
    font-weight: boldrer;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.img{
    border: 10px bold black;
    border-radius: 15px;
    transition-duration: 1s;
}
   


/* button */
button{
     background-color: transparent;
    border: 2px solid rgb(30, 30, 30);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.3s ease;
}



.B:hover{
    background-color:black;
    color: White;
     box-shadow:
         0 0 10px white,
        0 0 20px white;
}
